<section>
    <img class="wave" src="../../assets/img/background.png">
	<div class="container">
		<div class="img">
			<img src="../../assets/img/imgLog.svg">
		</div>
		<div class="login-content">
			<form #formLogin="ngForm" (submit)="onLogin()">
				<img src="../../assets/img/avatar.svg">
				<h2 class="title" *ngIf="!isError">Bienvenido</h2>

				<div class="alert alert-danger" role="alert" *ngIf="isError">
					Something is wrong!
				  </div>

           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fa fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Correo electronico</h5>
           		   		<input [(ngModel)]="email" type="email" id="input" name="email" class="input" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fa fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input [(ngModel)]="password" type="password" id="input" class="input" name="password" required>
            	   </div>
            	</div>
            	<a href="#">Olvidaste tu contraseña?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
</section>