<meta name="viewport" content="width-device-width, user-scalable-no, initial-scale-1.0, maximum-scale-1.0, minimum-scale-1.0">
<div class="padre">
    <h1 class="titulo"> Proyectos Existentes </h1>
    <div class="contenedor">
        <div class="targeta">
            <img src="" alt="">
            <h4>Encabezado 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam vel numquam aut voluptate totam quas maiores modi, voluptatum, eaque sint facilis velit delectus consequatur quidem cum aspernatur. Totam, itaque ipsum.</p>
            <div>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                    Ver
                </button>
                <button type="button" class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                    Editar
                </button>
                <button type="button" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Eliminar
                </button>
            </div>
        </div>

        <div class="targeta">
            <img src="" alt="">
            <h4>Encabezado 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam vel numquam aut voluptate totam quas maiores modi, voluptatum, eaque sint facilis velit delectus consequatur quidem cum aspernatur. Totam, itaque ipsum.</p>
            <div>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                    Ver
                </button>
                <button type="button" class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                    Editar
                </button>
                <button type="button" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Eliminar
                </button>
            </div>
        </div>

        <div class="targeta">
            <img src="" alt="">
            <h4>Encabezado 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam vel numquam aut voluptate totam quas maiores modi, voluptatum, eaque sint facilis velit delectus consequatur quidem cum aspernatur. Totam, itaque ipsum.</p>
            <div>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                    Ver
                </button>
                <button type="button" class="btn btn-warning">
                    <i class="fa fa-edit"></i>
                    Editar
                </button>
                <button type="button" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>