<section id="parallax">
    <div id="vacio">
        <div class="box">
            <h1>Buscar</h1>
            <form>
                <input id="texto" type="text" name="buscar" placeholder="Introduce lo que deseas buscar">
                <input id="boton" type="submit" name="" value="Buscar">
            </form>
        </div>
    </div>
</section>

<section name="info" id="seccion2">
    <div class="container marketing">
        <h1 id="quien">¿Quien soy yo?</h1>

        <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a propósito (por ejemplo insertándole humor y cosas por el estilo).
        </p>
        <br>
        <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a propósito (por ejemplo insertándole humor y cosas por el estilo).
        </p>
    </div>
</section>

<hr class="featurette-divider">

<section name="produccion" id="seccion3">
    <div class="container marketing">
        <h1 id="quien">Producción</h1>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" src="../../assets/img/constructora.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" src="../../assets/img/independiente.jpg" alt="Generic placeholder image" width="140" height="140"> 
              <h2>Heading</h2>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" src="../../assets/img/info.jpg" alt="Generic placeholder image" width="140" height="140"> 
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>             
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>            
    </div>
</section>

<hr class="featurette-divider">

<section name="contacto" id="seccion4">
    <div class="container marketing">
        <div class="contenedor">
            <h1>Contacto</h1>
            <div class="contenido">
                <div class="inf">
                    <div class="col">
                        <i class="icono fa fa-envelope"></i>
                        <p>correo@algo.com</p>
                    </div>
                    <div class="col">
                        <i class="icono fa fa-phone"></i>
                        <p>555-555-5555</p>
                    </div>

                    <div class="redes-s">
                        <a class="red" href="#"><i class="fa fa-facebook-f"></i></a>
                        <a class="red" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="red" href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>

                <form action="" method="GET" class="formulario">
                    <input type="text" name="nombre" placeholder="Nombre" id="nombre">
                    <input type="text" name="correo" placeholder="Correo electrónico" id="correo">
                    <input type="text" name="asunto" placeholder="Asunto" id="asunto">
                    <textarea name="mensaje" id="mensaje" placeholder="Escriba su mensaje"></textarea>

                    <button type="submit" onclick="validarFormulario()">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>

<hr class="featurette-divider">

<footer>
    <div class="footer-container">
      <div class="left-col">
        <img src="logo.png" alt="" class="logo">
        <div class="social-media">
          <a href="#"><i class="fa fa-facebook-f"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-linkedin-in"></i></a>
        </div>
        <p class="rights-text">© 2020 Created By DarkCode All Rights Reserved.</p>
      </div>

      <div class="right-col">
        <h1>Our Newsletter</h1>
        <div class="border"></div>
        <p>Enter Your Email to get our news and updates.</p>
        <form action="" class="newsletter-form">
          <input type="text" class="txtb" placeholder="Enter Your Email">
          <input type="submit" class="btn" value="submit">
        </form>
      </div>
    </div>
  </footer>
